#footer-section {
  padding-bottom: 0;

  .logo {
    height: 100px;
  }

  #footer-contacts {
    margin-bottom: 50px;
    gap: $gap-xl;

    p {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
    }

    .col {
      &:last-child {
        display: flex;
        align-items: center;

        div {
          &:first-child {
            margin-right: $gap-xl;
          }
        }
      }
    }
  }

  #footer-navigations {
    margin-bottom: 80px;
    gap: $gap-xl;

    h4 {
      margin-bottom: 30px;
      font-weight: 400;
    }

    ul {
      li {
        list-style-type: none;

        a {
          text-decoration: none;
        }
      }
    }

    .navigation {
      display: flex;
      line-height: 2;
    }
  }

  #footer-license {
    color: black;
  }
}

// Large screen >= 992px
@media screen and (min-width: $large) {
  #footer-section {
    #footer #footer-navigations {
      .navigation {
        justify-content: end;
      }
    }

    #footer-contacts {
      .col {
        &:last-child {
          justify-content: flex-end;
        }
      }
    }
  }
}
