.navbar {
  background-color: white;
  padding: 0.3rem 0;

  #navbar-menu {
    justify-content: end;

    .navbar-nav {
      gap: 1rem;

      .nav-link {
        color: black;
      }
    }
  }
}
