.btn {
  font-weight: 500;

  &:first-child:active {
    background-color: transparent;
    border-color: transparent;
  }

  a {
    text-decoration: none;
  }
}

.btn-primary {
  background-color: $primary-color;
  border-radius: 0.2rem;
  padding: 0.8rem 2rem;
  box-shadow: $shadow;
  border: none;
  transition: all 0.5s;

  a {
    color: $primary-color-extra-light;
  }

  &:hover {
    color: black;
    background-color: $primary-color-light;
  }
}

.btn-secondary {
  background-color: transparent;
  border: none;
  padding: 0;
  color: black;

  i {
    transition: all 0.5s;
    padding-left: 16px;
  }

  &:hover {
    background-color: transparent;
    color: black;
  }

  &:hover i {
    margin-left: 20px;
  }
}

@media screen and (max-width: 576px) {
  .btn-primary {
    width: 100%;
  }
}
