// Colors
$primary-color: rgb(46, 115, 245);
$primary-color-extra-light: rgb(236, 241, 245);
$primary-color-dark: rgb(0, 18, 53);
$color-grey: rgb(19, 27, 41);

// Borders
$border-soft: 3px;

// Gaps
$card-gap: 10px;
$card-gap-md: 20px;
$card-gap-lg: 30px;
$card-gap-xl: 40px;
