#about-page {
  .section-main {
    .photos {
      position: relative;

      .photo {
        position: absolute;
        width: 40%;
      }
    }
  }

  #mission {
    .photos {
      .photo {
        &:first-child {
          right: 45%;
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;
          transform: rotate(12deg);
        }

        &:last-child {
          right: -10px;
        }
      }
    }
  }

  #commitment {
    .photos {
      .photo {
        &:first-child {
          top: 60%;
          right: 45%;
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;
          transform: rotate(-5deg);
        }

        &:last-child {
          top: 80%;
          right: -10px;
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;
          transform: rotate(5deg);
        }
      }
    }
  }
}
