#home-page {
  #hero-section {
    color: white;
    background-image: linear-gradient(
        to right,
        $primary-color-dark,
        rgba(0, 0, 0, 0)
      ),
      url("/pastor.png");
    background-size: cover;
    background-position: top center;
    height: calc(100vh - 89.594px);

    .container {
      height: 100%;

      .section-main {
        height: inherit;
        align-items: end;

        .btn-secondary {
          a {
            color: white;
          }
        }
      }
    }
  }

  #about-section {
    .container {
      .section-main {
        flex-direction: row-reverse;

        .info {
          .description {
            margin-bottom: 2rem;
          }
        }

        .photo img {
          width: 100%;
        }

        .social-links {
          margin-top: 30px;

          .social-link {
            margin-right: 30px;
            text-decoration: none;
            font-weight: 500;
          }
        }
      }
    }
  }

  #community-section {
    .section-main {
      gap: $gap-lg;

      .card-container {
        a {
          text-decoration: none;
        }

        .card {
          height: 600px;
          justify-content: end;
          color: white;
          padding: 1rem;
          border: none;
          margin: 0;
          background-size: cover;
          background-position: center;

          .card-body {
            flex-grow: 0;

            .card-title {
              font-size: 2rem;
              font-weight: 600;
              margin-bottom: 1rem;
            }

            .card-text {
              margin-bottom: 2rem;
            }
          }
        }

        // Kids group card
        &:nth-child(1) {
          .card {
            background-image: linear-gradient(
                to top,
                $primary-color-dark,
                rgba(0, 0, 0, 0)
              ),
              url("/kids.jpg");
          }
        }

        // Youth group card
        &:nth-child(2) {
          .card {
            background-image: linear-gradient(
                to top,
                $primary-color-dark,
                rgba(0, 0, 0, 0)
              ),
              url("/youth.jpg");
          }
        }

        // Ladies group card
        &:nth-child(3) {
          .card {
            background-image: linear-gradient(
                to top,
                $primary-color-dark,
                rgba(0, 0, 0, 0)
              ),
              url("/ladies.jpg");
          }
        }

        // Mens group card
        &:nth-child(4) {
          .card {
            background-image: linear-gradient(
                to top,
                $primary-color-dark,
                rgba(0, 0, 0, 0)
              ),
              url("/mens.jpg");
          }
        }
      }
    }
  }

  #services-section {
    background-color: $primary-color-dark;
    color: white;

    .row {
      gap: 80px;

      .section-heading {
        p {
          margin-bottom: 2rem;
        }
      }

      .section-main {
        display: grid;
        gap: $gap;

        img {
          width: 100%;

          &:first-child {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
          }
        }
      }
    }
  }

  #upcoming-events-section {
    .section-main {
      justify-content: center;
    }

    .section-footer {
      .btn {
        margin-top: 3rem;
      }
    }
  }

  #church-pastors {
    background-color: $color-grey;
    color: white;

    .section-main {
      gap: $gap-xl;

      .card-container {
        &:nth-child(2) {
          margin-top: 50px;
        }

        .card {
          background-color: transparent;
          border: none;
          color: white;
          box-shadow: none;
        }
      }
    }
  }

  // Large screen >= 992px
  @media screen and (min-width: $large) {
    #community-section {
      .section-main {
        .card-container {
          width: calc(50% - $gap-lg);
        }
      }
    }

    #church-pastors {
      .section-main {
        .card-container {
          width: calc(33% - $gap-xl);
        }
      }
    }
  }
}
