@import "../abstracts/variables";

.main {
  text-align: center;
  justify-content: center;

  .photos {
    position: relative;

    .photo {
      display: none;
      position: absolute;
      width: 40%;

      .frame {
        padding: 10px;
        box-shadow: $shadow;
      }
    }
  }
}

.mission {
  .photos {
    .photo {
      &:first-child {
        right: 45%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transform: rotate(12deg);
      }

      &:last-child {
        right: -10px;
      }
    }
  }
}

.commitment {
  .photos {
    .photo {
      &:first-child {
        top: 60%;
        right: 45%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transform: rotate(-5deg);
      }

      &:last-child {
        top: 80%;
        right: -10px;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transform: rotate(5deg);
      }
    }
  }
}

// Large screen >= 992px
@media screen and (min-width: $large) {
  .about {
    .main {
      text-align: start;
      justify-content: start;

      .photos {
        position: relative;

        .photo {
          display: block;
          position: absolute;
          width: 40%;
        }
      }
    }
  }
}
