@import "../abstracts/variables";

.services {
  .main {
    .images {
      display: none;
      position: relative;

      .backgroundBox {
        position: absolute;
        top: -50px;
        height: 250px;
        width: 60%;
        background-color: $primary-color;
        border-radius: $border-soft;
      }

      .photos {
        position: relative;

        .photo {
          position: absolute;
          width: 50%;
        }
      }
    }
  }

  .sunday {
    flex-direction: row-reverse;

    .backgroundBox {
      left: 10%;
    }

    .images {
      .photos {
        .photo {
          &:first-child {
            top: 30px;
            left: 0;
          }

          &:last-child {
            top: -120px;
            right: 100px;
            width: 40%;
          }
        }
      }
    }
  }

  .friday {
    .backgroundBox {
      right: 10%;
    }

    .images {
      .photos {
        .photo {
          width: 40%;

          &:first-child {
            top: -120px;
            left: 100px;
          }

          &:last-child {
            top: -30px;
            right: 0;
          }
        }
      }
    }
  }

  .christianEducationProgram {
    flex-direction: row-reverse;

    .images {
      .backgroundBox {
        left: 10%;
      }

      .photos {
        .photo {
          width: 40%;

          &:first-child {
            top: -130px;
            left: 0;
          }

          &:last-child {
            right: 120px;
          }
        }
      }
    }
  }
}

// Extra small devices
@media screen and (max-width: $small) {
  .services {
    .main {
      text-align: center;
    }
  }
}

// Small devices
@media screen and (min-width: $small) {
  .services {
    .main {
      text-align: center;
    }
  }
}

// Large devices
@media screen and (min-width: $large) {
  .services {
    .main {
      text-align: start;
      padding: 120px 0;

      .images {
        display: block;
      }
    }
  }
}
