:root {
  --primary-color: rgb(46, 115, 245);
}

/* Globals */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 1rem;
  font-weight: 400;
}

.title {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.subtitle {
  font-size: 1.2rem;
}

.bold {
  font-weight: 600;
}

.big-text {
  font-size: 5rem;
}

/* Navigations */
.navbar {
  padding: 0.3rem 0;
  background-color: white;
}

.navbar .btn {
  padding: 0.5rem 1.2rem;
}

.navbar #give-btn {
  margin-right: 0.5rem;
}

.navbar #navbar-menu {
  justify-content: end;
}

.navbar .navbar-nav {
  gap: 1rem;
}

.navbar .nav-link {
  color: black;
}

.navbar .navbar-brand img {
  height: 70px;
}

/* Buttons */
.btn {
  border-radius: 0.2rem;
  padding: 0.5rem 1.5rem;
}

.btn-primary {
  background-color: var(--primary-color);
}

/* Home page */
#hero-section {
  color: white;
  padding: 15rem 0;
  background-image: url("/pastor.png");
  background-size: cover;
}

#hero-section #hero-slider img {
  width: 100%;
}

#hero-section .subtitle {
  margin-bottom: 3.5rem;
}

#hero-section .btn-primary {
  padding: 1rem 2rem;
}

#hero-section .btn-primary a {
  color: white;
  text-decoration: none;
}

#hero-section .btn-primary .fa-arrow-right {
  margin-left: 1rem;
}
