html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: black;
}

img {
  width: auto;
  border-radius: var(--border-soft);
}

[class*="col"] {
  padding: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}
