.border-bottom {
  border-bottom: 1px solid var(--primary-color-extra-light);
}

.border-top {
  border-top: 1px solid var(--primary-color-extra-light);
}

section {
  padding: 100px 0;

  .header {
    margin-bottom: 2.5rem;
  }
}

.active {
  color: $primary-color !important;
}

@media screen and (max-width: 576px) {
  section {
    padding: 50px 0;
  }
}
